<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <configSections>    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PWManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
                                                                                                                      </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>  
  <system.data>    
        <!--NOTE: The extra "remove" element below is to prevent the design-time
              support components within EF6 from selecting the legacy ADO.NET
              provider for SQLite (i.e. the one without any EF6 support).  It
              appears to only consider the first ADO.NET provider in the list
              within the resulting "app.config" or "web.config" file.-->    
    <DbProviderFactories>     
      <remove invariant="System.Data.SqlClient" />
      <add name="SQLClient Data Provider" invariant="System.Data.SqlClient" description=".NET Framework Data Provider for Microsoft SQL Server" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <!--<add name="PWManagerContext" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=PWManager;Integrated Security=true" />--> 
    <add name="PWManagerContext" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\sql2014;Initial Catalog=PWManager;User Id=ibillz;Password=ibillz9991" />     
  </connectionStrings> 
  <userSettings>
    <PWManager.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="isInitialSetup" serializeAs="String">
        <value>""</value>
      </setting>
    </PWManager.Properties.Settings>
  </userSettings>
</configuration>

